# Logs
logs
*.log
.DS_Store

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build directory
# Temporarily removed to deploy to Github Pages from sub-folder
# dist

# API keys and secrets
.env

# Editor temporary files
*~
\#*#
.#*
*.orig
*.rej
